<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html"> xmlns:th="http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <title>Add loan</title>
</head>
<body>
<!--/*@thymesVar id="loan" type=""*/-->
<form method="POST" th:action="@{/loans}" th:object="${loan}">
    <label>Enter sum: </label>
    <input type="text" th:field="*{sum}">
    <div style="color:red" th:if="${#fields.hasErrors('sum')}" th:errors="*{sum}">Error</div>
    <br/>
    <label>Enter dateOfIssue </label>
    <input type="text" th:field="*{dateOfIssue}">

    <br/>
    <label>Enter creditTerm: </label>
    <input type="text" th:field="*{creditTerm}">
    <br/>
    <label>Enter monthlyPayment: </label>
    <input type="text" th:field="*{monthlyPayment}">
    <br/>


    
</form>

</body>
</html>