<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form th:method="POST" th:action="@{/login}" th:object="${user}">

    <label for="email" style="color: brown">Enter email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</div>
    <br/>
    <label for="password"style="color: brown">Enter password</label>
    <input type="password" th:field="*{password}" id="password"/>
    <button>Login</button>

</form>
</body>
</html>